.aw-error{border-color: red !important;}
.aw-notice-error{box-shadow: -5px 0px 0px red inset;background-color: rgba(231, 76, 60,.3);}
.aw-notice-success{box-shadow: -5px 0px 0px #2ecc71 inset;background-color: rgba(143, 231, 60, 0.3);}
.aw-notice{margin: 5px 0;padding: 5px 10px;/*font-size: 10px;*/}